<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywh.security.dao.SysRoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ywh.security.entity.SysRoleEntity">
        <id column="sys_role_id" property="sysRoleId" />
        <result column="sys_role_name" property="sysRoleName" />
        <result column="sys_role_describe" property="sysRoleDescribe" />
        <result column="sys_role_state" property="sysRoleState" />
        <result column="sys_add_time" property="sysAddTime" />
        <result column="sys_up_time" property="sysUpTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sys_role_id, sys_role_name, sys_role_describe, sys_role_state, sys_add_time, sys_up_time
    </sql>

</mapper>
