<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywh.cloudauth.dao.sysuser.SysUserDao">

    <select id="selectByUserName" resultType="com.ywh.cloudcommon.entity.SysUserEntity">
        SELECT * FROM sys_user WHERE sys_user_name = #{username}
    </select>

</mapper>